
body{font-family:Segoe UI;background:#0f172a;color:white;margin:0}
#login{text-align:center;margin-top:120px}
input,select,button{padding:10px;margin:5px}

.sidebar{
position:fixed;
right:0;
top:0;
width:220px;
height:100%;
background:#020617;
padding:20px
}

.sidebar a{
display:block;
margin:10px 0;
padding:8px;
background:#1e293b;
border-radius:6px
}

.main{
margin-right:240px;
padding:20px
}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px
}

.card{
background:#1e293b;
padding:20px;
border-radius:8px;
text-align:center
}

.map{
margin-top:20px;
height:400px;
background:#020617;
display:flex;
align-items:center;
justify-content:center;
border-radius:10px
}
